body, header, nav, ul, li, ol, div, h1, img, code /*to remove defaults*/{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
ul{
	list-style-type:none;
}
body{
	background-image:url("BG.jpg");
	background-position: top left;
	background-size: 150% 150%;
	background-repeat: no-repeat;
}

nav li{
	display: inline-block;
	float: left;
	width: 25%;
	text-align: center;
	background-color: #004080;
	
}

nav li a{
	text-decoration: none;
	color: white;
}
.title,
.logo{
	display: inline-block;
}
 .title{
 	float: left;
 	width: 80%;
 	text-align: right;
 	font-size: 500%;
 	margin-top: 3%;
 }
 .logo {
 	height: 170px;
 	width: 170px;

 }
header div {
 	margin: 0 5%;
 	padding: 0 3%;
}
#id1,
#id2,
#id3,
#id4,
#id5,
#id6 {
	background-image:url("audi.jpg");
	background-position: top left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 5px solid #004080;
	border-radius: 10%;
	opacity: 0.5;
}

.row1,
.row2{
	padding: 10px;
	height: 33%;
	padding: 2% 0;
}
.row1 li,
.row2 li{
	display: inline-block;
	float: left;
	width: 25%;
	text-align: center;
	padding: 3% 2%;
	margin: 0 4%;
	color: white;
	opacity: 1;
	font-size: 150%;
}
.clear{
	clear: all;
}
